.backlinks {
  position: relative;

  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;

    & > li {
      & > a {
        background-color: transparent;
      }
    }
  }
<<<<<<< HEAD
=======

  & > .overflow {
    &:after {
      display: none;
    }
    height: auto;
    @media all and not ($desktop) {
      height: 250px;
    }
  }
>>>>>>> 1d2dc167f4397e230092cc867889a86734343cfc
}
