#lorenz-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;

  // Dark mode - white dots/lines on dark background
  [saved-theme="dark"] & {
    opacity: 0.5;
  }

  // Light mode - dark dots/lines on light background
  [saved-theme="light"] & {
    filter: invert(1);
    opacity: 0.35;
  }
}
